::-webkit-scrollbar {
    display: none;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    padding: 20px;
    margin: 0;
}

#mypic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#me {
    background-color: rgba(255, 255, 255, 0.1);
    float: left;
    clear: both;
    border-radius: 20px;
    height: auto;
    width: 240px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    animation: slideIn 1s ease-in-out;
}

#content {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 270px;
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 270px);
    min-width: 600px;
    animation: slideIn 1s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

#nav1 {
    background-color: rgba(0, 0, 0, 0.69);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;
}

#links {
    display: flex;
    flex-direction: row;
}

#links a {
    text-decoration: none;
    color: white;
    margin: 5px;
    margin-right: 20px;
    font-weight: bold;
    margin-left: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

#links a:hover {
    color: aqua;
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.skill {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid aqua;
    padding: 15px;
    margin: 10px 0;
    flex: 1 1 calc(50% - 20px);
    min-width: 300px;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.skill:hover {
    transform: scale(1.05);
}

#map {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

#portfolio {
    padding: 20px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.project-grid video {
    border-radius: 10px;
}

.project-card {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-thumbnail {
    width: 100%;
    border-radius: 10px;
}

a {
    transition: color 0.3s ease;
    color: white;
    margin-right: 15px;
}

a:hover {
    color: aqua;
}

#contact-info a {
    text-decoration: none;
    color: aqua;
}

.map-container iframe {
    border: none;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

