body {
    background-image: url(background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    padding: 20px;
    margin: 0;
}
#mypic{
    border-radius: 50%;
}
#me {
    background-color: rgba(255, 255, 255, 0.05);
    float: left;
    border-radius: 20px;
    height: auto;
    width: 240px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

#content {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 270px;
    position: relative;
    box-sizing: border-box;
}

#nav1 {
    background-color: rgba(0, 0, 0, 0.69);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;
}

#links {
    display: flex;
    flex-direction: row;
}

#links a {
    text-decoration: none;
    color: white;
    margin:5px;
    font-weight: bold;
    margin-left: 10px;
}

#links a:hover {
    color: cyan;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.skill {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#map {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    #me {
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    #content {
        margin-left: 0;
        padding: 10px;
    }

    #nav1 {
        top: 0;
        right: 0;
        padding: 5px;
    }

    #links {
        flex-direction: column;
    }

    .skills {
        flex-direction: column;
    }

    #map {
        height: 250px; 
    }
}


#portfolio {
    padding: 20px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.project-grid video{
    border-radius: 10px;
}
.project-card {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project-thumbnail {
    width: 100%;
    border-radius: 10px;
}



a {
    transition: color 0.3s ease;
    color: white;
    margin-right: 15px;
}

a:hover {
    color:cyan;
}

#contact-info a{
    text-decoration: none;
    color: cyan;
}
